html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
body { font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22; }
table { font-size:inherit; font:100%; }
select, input, textarea { font:99% sans-serif; }
h1,h2,h3,h4,h5,h6 { font-family: 'SansationRegural', Arial, sans-serif; font-weight: bold; text-rendering: optimizeLegibility; }
html { -webkit-font-smoothing: antialiased; }
a:hover, a:active { outline: none; }
a, a:active, a:visited { color:#33659d; }
a:hover { color:#036; }
p { margin-bottom:1em; }
ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }
small { font-size:85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align:top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
html { overflow-y: scroll; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }



/* Styles general */
html, body { height: 100%; }
html {
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
}

body {
    font:13px sans-serif; *font-size:small; *font:x-small; line-height:1.22;
    background-color: #CBCBCB;
    background-image: url('../images/authentification/sofi.jpg');
    background-position: center top;
    background-repeat: no-repeat;
}


/* layout */
#enrobage {
	min-height: 100%;
	height: auto !important;
	height: 100%
}

#frame {
	margin:0 auto;
	width: 1007px;
	padding-bottom:100px;
}
#ombreGauche {
	width: 4px;
	height: 704px;
	background-image: url('../images/authentification/ombre_gauche.gif');
	background-repeat: repeat-y;
	float: left;
}
#ombreDroite {
	width: 4px;
	height: 704px;
	background-image: url('../images/authentification/ombre_droite.gif');
	background-repeat: repeat-y;
	float: left;
}


/* Bandeau */
#bandeau {
	position: relative;
	background: url('../images/authentification/bandeau.jpg') no-repeat ;
	height: 93px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}
#menuSecondaire {
	float:right;
	font-size: 1.09em;
	position:relative;
	top:16px; right:3px;
	margin:0;
	padding:0;
	list-style:none;
}
#menuSecondaire li {
	border-left:2px solid #139ec8;
	float:left;
	margin-left:7px;
	padding-left:9px;
}
#menuSecondaire a {
	float:left;	
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
#menuSecondaire a:hover {
	text-decoration: underline;
}
#menuSecondaire li.first {
	border: 0;
}


#logo {
	background: url('../images/authentification/logo-sofi-139x67.png') no-repeat;
	display:block;
	position:absolute;
	left:30px; top:15px;
	height:67px;
	width:139px;
	text-indent:-9999px;
}


/* Titre */
h1 {
	background:url('../images/authentification/bg-titre.gif') repeat-x;
	border-bottom:1px solid #121416;
	color: #fff;
	font-size: 1.34em;
	height:33px;
	margin:0;
	padding-left:31px;
	line-height:33px;
	text-align:left;
}


/* Content */
#content {
	padding:55px 65px 0 0;
}

.box {
	-moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
	border: 3px solid #0f8dbd;
	background: white;
	float: right;
	padding: 30px;
	width:350px;
	margin-bottom: 15px;
}

h2 {
	color: #1976a7;
	font-size: 1.84em;
	text-transform:uppercase;
	line-height:1;
	margin-bottom:1em;
}
h3 {
	color: #1976a7;
	font-size: 1.4em;
	padding:15px 0 10px 0;
	border-bottom:1px solid #D6D6D6;
	margin-bottom:1em;
}
form {
	margin-bottom:1em;
}
.formList {
	margin:0;
	padding:0;
	list-style:none;
}
.formList li {
	margin-bottom:1em;
}

label {
  color: #565656;
  float:left;
  margin-right:12px;
  padding:2px 0;
  font-size: 1.09em;
  display: block;
  text-align:right;
  width:130px;
  font-weight:bold;
}

button {
	font-family: 'SansationRegular', Arial, sans-serif;
	float:right;
	text-transform:uppercase;
}
input, textarea, select {
	background:#eaeaea;
}
input, textarea {
	padding:2px;
	width:200px;
}
input.radio {
	width:auto;
}
#captcha {
	margin:3em 0 1.5em 0;
}
#captcha label {
	text-align:left;
	float:none;
	width:100%;
}



/* Footer */

#footerBox {
	clear:both;
	margin:-60px auto 0;
}
#innerFooterBox {
	background: url('../images/authentification/footer.jpg') no-repeat;
	margin:0 auto;
	height: 60px;
	width:1007px;
	position:relative;
}
#footerBox .logo {
	background: url('../images/authentification/logo-sofi-77x43.png') no-repeat;
	display:block;
	position:absolute;
	left:29px; top:12px;
	height:43px;
	width:77px;
	text-indent:-9999px;
	position:relative;
}
#footerBox p {
	color:#cccccc;
	margin:0;
	line-height:1;
	position:absolute;
	left:116px; bottom:16px;
}




/* Classes */
.listeFleches {
	margin:0;
	padding:0;
	list-style:none;
}
.listeFleches li {
	background: url('../images/authentification/ico-fleche-bleu-droite.gif') no-repeat left center;
	margin-bottom:15px;
	padding-left:13px;
}
.listeFleches li.last {
	margin-bottom:0;
}

#message_erreur {
	background-color: #FFFFFF;
	clear: both;
	color: #000000;
	margin: 0;
	padding: 0;
	padding-bottom : 5px;
	font-weight:normal;
	text-align: left;
	width: 100%;
}

.bouton { 
  background:url('../images/sofi/bouton_noir_droit.gif') right no-repeat; 
  background-color:#FFFFFF;
  border:0; 
  cursor:pointer; 
  font-weight:bold; 
  font-size : 1em;
  padding:0;
  padding-right:3px;
  text-align:center; 
}

.bouton span { 
  height:32px; 
  line-height:32px;
  background:url('../images/sofi/bouton_noir_gauche.gif') left no-repeat;
  color:#fff; 
  position:relative; 
  display:block; 
  white-space:nowrap; 
  padding-left:6px; 
  padding-right:2px;
}

.boutondisabled { 
  background:url('../images/sofi/bouton_noir_droit_disabled.gif') right no-repeat; 
  background-color:#FFFFFF;
  border:0; 
  cursor:pointer; 
  font-weight:bold; 
  font-size : 1em;
  padding:0;
  padding-right:3px;
  text-align:center; 
}

.boutondisabled span { 
  height:32px; 
  line-height:32px;
  background:url('../images/sofi/bouton_noir_gauche_disabled.gif') left no-repeat;
  color:#fff; 
  position:relative; 
  display:block; 
  white-space:nowrap; 
  padding-left:6px; 
  padding-right:2px;
}

.boutondisabled:hover {
  background:url('../images/sofi/bouton_noir_droit_disabled.gif') right no-repeat; 
}
.boutondisabled:hover span {
  background:url('../images/sofi/bouton_noir_gauche_disabled.gif') left no-repeat; 
}

.bouton:hover {
  background:url('../images/sofi/bouton_noir_droit.gif') right no-repeat; 
}
.bouton:hover span {
  background:url('../images/sofi/bouton_noir_gauche.gif') left no-repeat; 
}

.zoneBouton .bouton {
  margin-left:5px;
}

.listeLangue {
	Position :absolute;
	margin:0;
	padding:0;
	right:22px;
	top:45px;
}
.listeLangue label {
  white-space:nowrap;
  color:white;
  display: inline;
}
