
h1{ margin-top:0.2em; padding-top:0;}

#menu ul li.menu-option{ width:38px}
#menu ul li.menu-option a{ position:absolute; }

#haut-de-page{ padding-top:1.4em;}

#accueil-col-gauche .contenu{ margin-top:0; }
#accueil-col-droite .contenu{ margin-top:0; }
#accueil-contenu .contenu{ margin-top:0;}

/* MENU */
#menu{
height: 28px !important;
overflow: hidden !important;
}
#corps{
margin-top: -20px
}

#boite-connexion .formatage {
float:right;
padding-right:50px;
width:175px;

}
#boite-connexion .ligne {
float:left;
margin:0 0 12px;
padding-right:10px;
width:310px;

}

#boite-connexion input.bouton {
padding:1px 9px;
margin-left: 150px
}

