
#accueilForm legend {
/*position: relative;
top: 40px;*/
margin:-20px 0 4em -17px;
}

#corps2 {
top:-35px;
}

#changerMotPasseForm fieldset {
margin-left: -258px;
position: relative;
left: 50% ;
}