/* layout */
body {
    background-image:none;
    background-color: #001328;
}
#enrobage {
  background:none;
  min-height: 0;
  height: auto !important;
  height: 0;
}

#frame {
    margin: 0 auto;
    padding-bottom: 100px;
    width: 480px;
}

.box {
    background: none repeat scroll 0 0 white;
    border: 3px solid #0F8DBD;
    border-radius: 5px 5px 5px 5px;
    float: none;
    margin-left: 10px;
    padding: 10px;
    width: 430px;
}

#innerFooterBox {
    background: url("../css/../images/authentification/footer.jpg") no-repeat scroll 0 0 transparent;
    height: 60px;
    margin: 0 auto;
    position: relative;
    width: 480px;
}