	.dhtmlgoodies_window {
		width:300px;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		font-size:0.9em;
		position:absolute;
    overflow: hidden;
		z-index:10000;	
	}
	.dhtmlgoodies_window div {
		position:relative;
	}
	.dhtmlgoodies_window .dhtmlgoodies_window_top {
		width:100%;
		height:24px;
		position:relative;
		background-color: #005190;
	}
	
	.dhtmlgoodies_window .top_buttons {
		float:right;
		z-index:10;
		position:absolute;
    top: 1px;
		right:1px;
    background-color: #0E6291;	
	}
  
  html>body .dhtmlgoodies_window .top_buttons {
    background-color: #005190;	    
  }
  
	.top_buttons img{
    margin: 1px;
    width: 20px;
    height: 20px;  
	}
  
	.dhtmlgoodies_windowMiddle {
		border-left:3px solid #0E6291;
		
	}
  
	.dhtmlgoodies_windowContent {
		border-right:3px solid #005190;
		padding-left:3px;
		padding-right:3px;
                padding-bottom: 3px;
		height:100%;
                background-color:#DEE8EF;    
		overflow:auto;
	}
  
	.dhtmlgoodies_window_bottom {
		border-left: 3px solid #0E6291;
		border-right:3px solid #0E6291;
		border-bottom: 3px solid #0E6291;
		position:relative;
		height:0px;
	}
	.dhtmlgoodies_window_bottom img {
		float:right;
    visibility: visible;
	}
	.topCenterImage {
		position:absolute;
		left:3px;
		width:5000px;
		height:17px;
	}
	.resizeImage {
		position:absolute;
		right:1px;
		bottom:1px;
	}