@import url("sofi.css");

html { 
	padding:0;
	margin:0;
	overflow-y: scroll;
  background-color: transparent;
}

html {overflow:-moz-scrollbars-vertical;}

body {
	background-color:#CBCBCB;
	margin:0;
	padding:0;
	font-size:0.7em;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#666666;
}

#background {
	margin: 0 auto;
	padding:0;
  min-height: 100%;
  height: 100%;
  text-align:center;
}

#contenant {
	width:975px;
  position: relative;
  min-height: 98%;
  height: 100%;
	margin: 0 auto;
	padding:0;
	text-align:left;
	background-color:#FFFFFF;
	border:1px solid #FFFFFF;
}

html>body #contenant {
  height: auto;
}

.clear {
	clear:both;
}

img {
	border:0;
}

form, select, input, textarea {
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
}

/***************************************************************/
/* Haut de la page */
/***************************************************************/

#logo_general {
  background-image:url(../images/sofi/entete-sofi-general.jpg); 
  background-repeat: no-repeat;
  height:120px;	display:block;
	width:100%;
	position:relative;
}

#logo {
  background: url('../images/sofi/logo-sofi-139x67.png') no-repeat;
  display:block;
  position:absolute;
  left:30px; top:30px;
  height:67px;
  width:139px;
  text-indent:-9999px;
}

#bouton_accueil{
	position:relative;
	float:left;
	padding-top:30px;
	padding-left:10px;
}
#bouton_accueil a{
	width:200px;
	height:80px;
	display:block;
}

#fermerSession{
	color:#FFFFFF;
	font-weight:bold;
	background: url(../images/sofi/btn_quitter.gif) left center no-repeat;
	padding-left:18px;
	position:absolute;
	right:16px;
	top:11px;
	padding-bottom:1px;
}

#zone_utilisateur{
  width: 243px;
  width:21.8em;
  height: 85px;
  background-color:#00FF00;
  position:absolute;
  bottom:0;
  right: 14px;
  background:url(../images/sofi/fond_zone_utilisateur.gif) top left repeat-x;
  color: #99ccff;
}

#zone_utilisateur p.utilisateur{
  margin:0; padding:11px;
  font-size:1em;
}

#zone_utilisateur p.utilisateur span{
	display:block;
	font-size:1.2em;
	font-weight:bold;
}

#zone_utilisateur ul{
	margin:0; padding:0; list-style:none;
	padding-left:11px;
  float: right;
}

#zone_utilisateur li{
	margin:0; padding:0; list-style:none;
	display:inline;
}
#zone_utilisateur li a{
	display:block;
	float:left;
	padding: 2px 4px 3px; padding-left:15px; margin-right: 6px;
	text-decoration:none;
	background: #00285b 5px center no-repeat;;
	color: #d9dfe7;
	border:1px solid #00285b;
}
#zone_utilisateur li a:hover{
	border-color:#0069a7;
}

#zone_utilisateur li.btn_profil a{
  background-image:url(../images/sofi/icone_profil.gif)
}

#zone_utilisateur li.btn_aide a{
  background-image:url(../images/sofi/icone_aideenligne.gif);
}

#zone_utilisateur li.btn_nbUtilisateur a{
  background-image:url(../images/sofi/icone_nb_utilisateur.gif);
  padding: 2px 4px 3px; padding-left:25px; margin-right: 6px;  
}

#zonemenu{
  width:100%;
}

/***************************************************************/
/* Bas de la page */
/***************************************************************/

#bas {
  margin-top:-1px;
  width: auto;
}


/* Footer */

#bas {
  clear:both;
  margin:40px auto 0;
}
#innerFooterBox {
  background: url('../images/sofi/footer.jpg') no-repeat;
  margin:0 auto;
  height: 60px;
  width:100%;
  position:relative;
}
#bas .logo {
  background: url('../images/sofi/logo-sofi-77x43.png') no-repeat;
  display:block;
  position:absolute;
  left:29px; top:12px;
  height:43px;
  width:77px;
  text-indent:-9999px;
  position:relative;
}
#bas p {
  color:#cccccc;
  margin:0;
  line-height:1;
  position:absolute;
  left:116px; bottom:16px;
}


#corps{
	position:relative;
	margin:0;
	padding:0 10px 10px;
  width: auto;
}



/*****************************************/
/* Couleur des tri de colonnes */
/*****************************************/

table.tableresultat th.sorted a, th.sortable a {
  color:#FFFFFF;
}


.vos_services {
  color: #FFFFFF;
  font-weight: bold;
  margin-top: 2px;
  clear: right;
}

a.langue {
  font-weight: bold;
  color:#000000;
	padding:2px 6px 3px;
  text-decoration: none;   
}

a.langue:hover {
  font-weight: bold;
  color:#000000;
	padding:2px 6px 3px;
	background-color:#D1E3EB;  
  text-decoration: none; 
}

a.langueSelectionne {
  font-weight: bold;
  padding: 2px;
  color:#000000;
	background-color:#D1E3EB;  
  text-decoration: none;
}

a.langueSelectionne:hover {
  font-weight: bold;
  padding: 2px;
  color:#000000;
	background-color:#D1E3EB;  
  text-decoration: none;
}

/************************************************************************/
/* Styles pour l'sofi de l'aide en ligne */
/************************************************************************/
#contenu_aide_en_ligne {
  color: #000000;
	text-align:left;
  margin:0px;
  padding-top:5px;
  padding-left: 5px;
  padding-right:-15px;
  padding-right: 0px;
  float: left;  
}

a.blanc {
  color:#FFFFFF;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  font-weight: normal;
}

a.blanc:hover  {
  color:#FFFFFF;
  text-decoration: underline;
  background-color: transparent;
  border: 0;
}


a.aideEnLigne {
  color:rgb(255,255,51);
  text-decoration:none;
  background-color: transparent;
  border: 0;
  font-weight: normal;
  white-space: nowrap;
}

a.aideEnLigne:hover  {
  color:rgb(255,255,51);
  text-decoration: underline;
  background-color: transparent;
  border: 0;
}


/***************************************************************/
/* A utiliser lorsque nous avons une barre de bouton           */
/***************************************************************/
.barreIcone {
  margin-top: 5px;
	text-align:right; /* Les boutons sont aligne a droite */
	padding-top:5px;
  padding-right: 5px;
  height: 25px;
  vertical-align: middle;
}

html>body .barreIcone {
 height: 20px;
}

legend{
  padding-bottom:3px;
}

#zone_selection_application{
  padding: 0px 0px 20px;
  margin: 0;
  border-bottom: 1px solid #10437a;
}

#zone_selection_application label{
  color:#013461;
  font-weight:bold;
  margin-right:10px;
  margin-left:200px;
}

#zone_selection_application select{
  border: 1px solid #7f9db9;
  padding:1px;
  color:#333333;
}

form{
  margin:0; padding:0;
  margin-top:-1px
}

#anti-corps{
	position:relative;
  margin-left :-10px;
  margin-right: -10px;
  
}

fieldset.cadreNavigationSousSection{
	border: 0;
	background:url(../images/sofi/fond_zone_navigation_sous_section.gif) top left repeat-x #F6F9FC;
}

html>body fieldset.cadreNavigationSousSection{
  margin: 0px;
}

fieldset.cadreNavigationSousSection legend{
	color: #1184bb;
	text-transform:none;
	padding:0;
	margin:0;
	padding-top:5px;
  margin-left: -5px;
}

html>body fieldset.cadreNavigationSousSection legend{
  margin-left: 0px;
  padding-bottom: 5px;
}

fieldset.cadreNavigationSousSection .zoneNavigationSousSection{
	margin-top:8px;
	margin-bottom:5px;
	border-bottom: 1px solid #89C6D7;  

}

html>body fieldset.cadreNavigationSousSection .zoneNavigationSousSection{
	margin-top:0px;
	margin-bottom:2px;
  padding-bottom: 5px;  

}

fieldset.cadreNavigationSousSection .zoneNavigationSousSection ul, fieldset.cadreNavigationSousSection .zoneNavigationSousSection li{
	margin:0; padding:0;
	list-style: none; 
	display: inline;
  white-space: nowrap;
} 

fieldset.cadreNavigationSousSection .zoneNavigationSousSection a{
	border: 1px solid #EBF4F8;
	padding:2px 6px 3px;
  margin-bottom:4px;
	color: #1184bb;
	background-color:#fffde8;
  height: 20px;
}

html>body fieldset.cadreNavigationSousSection .zoneNavigationSousSection a{
  line-height: 25px;
}

fieldset.cadreNavigationSousSection .zoneNavigationSousSection a:hover, fieldset.cadreNavigationSousSection .zoneNavigationSousSection a.lienInterneSelectionne{
	border: 1px solid #1385bb;
	padding:2px 6px 3px;
	color:#FFFFFF;
	background: url(../images/sofi/fond_navigation_sous_section.gif) bottom left repeat-x #1385bb;
}

fieldset.cadreNavigationSousSection .zoneNavigationSousSection a:hover, fieldset.cadreNavigationSousSection .zoneNavigationSousSection a.langueSelectionne{
	border: 1px solid #1385bb;
	padding:2px 6px 3px;
	color:#FFFFFF;
	background: url(../images/sofi/fond_navigation_sous_section.gif) bottom left repeat-x #1385bb;
}

.gestionRole_titreApplication {
  font-weight: bold;
  border: 0px;
}

h3 {
	margin:0;
	padding:0;
	color:#000000;
	font-size:1.5em;
	font-weight:bold;
	text-align:left;
}

a.noir_petit {
  font-size: 0.5em;
  color: #000000;
  text-decoration: none;
}

a.noir_petit:hover {
  text-decoration: none;
}

form, select, input, textarea {
  font-size: 1em;
}

/* Les boutons à l'intérieur d'un tableau de résultat (Ordonnanceur - Tableau de bord) */ 
.tableresultat button {
  background-color:transparent; 
}


/*********************************************
 * SURCHARGE DES PROPRIETES DE SELECT2
 ********************************************/
 
.select2-container .select2-choice div b {
    background: url("../script/select2/select2.png") no-repeat scroll 0 -1px transparent;
    display: block;
    height: 100%;
    width: 100%;
}

.select2-container .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choice {
  color: black;
  background-image: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 20px;
  line-height: 20px;
}

.select2-container .select2-choice div {
  background-image: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  border: none;  
}

.select2-container .select2-choice div b {
  background-position-y: -3px;
}

.select_petit {
  width:50px;
}

.select_grand {
  width:250px !important;
}