<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
  <!-- ============== Description de la librairie des balises JSP ============= -->
  <tlib-version>1.0</tlib-version>
  <jsp-version>1.1</jsp-version>
  <short-name>sofi-securite</short-name>
  <uri>http://www.sofiframework.org/taglib/sofi-securite</uri>
  <description>Balise SOFI pour la sécurité applicative.</description>
  <tag>
    <name>role</name>
    <tag-class>org.sofiframework.presentation.balisesjsp.securite.RoleTag</tag-class>
    <description>
      Balise servant à valider si un utilisateur possède un rôle X.
			On doit spécifier le nom de la variable qui va loger si l'utilisateur possède le rôle à valider. La valeur du var est un Boolean (true/false).
    </description>
    <attribute>
      <name>role</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <description>Le rôle à valider.</description>
    </attribute>
    <attribute>
      <name>var</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>       
        Le nom de variable temporaire qui loge si l'utilisateur possède le rôle spécifié.
      </description>
    </attribute>
    <example></example>
  </tag>
  <tag>
    <name>composant</name>
    <tag-class>org.sofiframework.presentation.balisesjsp.securite.ComposantTag</tag-class>
    <description>
      Balise servant à valider si un utilisateur possède un droit d'accès en lecture seulement
      ou pas à un composant du référentiel. S'il n'y a pas accès, le corps de la balise ne sera pas interpré, tandis
      que s'il a accès en lecturement, tout le corps de la balise sera en lecture seulement.
    </description>
    <attribute>
      <name>identifiant</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <description>Identifiant du composant du référentiel.</description>
    </attribute>
    <attribute>
      <name>var</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>       
        Variable logeant true si l'utilisateur posssède le droit
        de consultation du composant.
      </description>
    </attribute>
    <attribute>
      <name>varLectureSeulement</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>       
        Variable logeant true si l'utilisateur posssède le droit
        de consultation du composant en lecture seulement.
      </description>
    </attribute> 
    <attribute>
      <name>classeSecuriteApplicative</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>      	
        La classe qui permet d'appliquer de la sécurité applicative sur le composant en traitement.
      </description>  
    </attribute>  
    <example></example>
  </tag>  
 <tag>
    <name>lectureSeulement</name>
    <tag-class>org.sofiframework.presentation.balisesjsp.securite.LectureSeulementTag</tag-class>
    <description>
        Balise servant a traiter du traitement spécifique lorsque la zone en traitment est en lecture seulement.
    </description>
    <attribute>
      <name>var</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>       
       Variable qui loge  (boolean) si l'utilisateur a accès en lecture seulement.
      </description>
    </attribute>
    <example></example>
  </tag>
 <tag>
    <name>permission</name>
    <tag-class>org.sofiframework.presentation.balisesjsp.securite.PermissionTag</tag-class>
    <description>
      Balise servant à valider si un utilisateur possède une permission X.
      On doit spécifier le nom de la variable qui va loger si l'utilisateur possède la permission à valider. La valeur du var est un Boolean (true/false).
    </description>
    <attribute>
      <name>permission</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <description>La permission à valider.</description>
    </attribute>
    <attribute>
      <name>var</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>       
        Le nom de variable temporaire qui loge si l'utilisateur possède la permission spécifié. La valeur est Boolean (true/false).
      </description>
    </attribute>
    <example></example>
  </tag>      
</taglib>