.tree { 
  padding-left: 20px; 
  width: 100%;  
}
.tree-top { padding-left: 0; }
.tree-item { 
  padding-left: 17px;
  background: transparent url("img/dot.gif") no-repeat 1px 50%;
}
.tree-item-more {
  padding-left: 1px;
}
.tree-item td.label { cursor: pointer; }
.tree-item table.tree-table { }
.tree-item table.tree-table td.label span.label { padding: 0 2px; }

.tree-item .tgb {
  width: 9px; height: 9px; vertical-align: middle; cursor: default;
}
.tree-item .plus {
  background: transparent url("img/plus.gif") no-repeat 0 50%;
  padding-right: 7px;
}
.tree-item .minus {
  background: transparent url("img/minus.gif") no-repeat 0 50%;
  padding-right: 7px;
}
.tree-item .icon { padding-right: 4px; cursor: pointer; width: 18px; height: 20px; text-align: center; vertical-align: middle; }

.tree-item-selected table.tree-table td.label { background-color: Silver; color: Black; }
