div.tree-item td.defaultIconClass {
  background: url("img/fs/document2.png") no-repeat 0 50%;
}
div.tree-item-expanded td.defaultIconClass {
  background: url("img/fs/folder-open.png") no-repeat 0 50%;
}
div.tree-item-collapsed td.defaultIconClass {
  background: url("img/fs/folder.png") no-repeat 0 50%;
}
