<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="service-web">
        <wb-resource deploy-path="/" source-path="/web"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="commun.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/modele-client/modele-client">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="modele.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/modele/modele">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="sofi.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/sofi/sofi">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/web-service/build/classes"/>
        <property name="context-root" value="sofi-ws"/>
    </wb-module>
</project-modules>
